.box {
  padding: var(--padding, var(--space-s));
  border: var(--border-thin) solid;
  color: var(--spot-color-text, var(--color-dark));
  background-color: var(--spot-color, transparent);
}

.box * {
  color: inherit;
}
